* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../IMG/blurry_background.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: 100vh;
}

.space {
    top: 10%;
    left: 10%;
}

.formDisplay_signUp {
    display: none;
    width: 100%;
}

.title-text {
    font-family: 'Aladin', cursive;
    font-size: 5rem;
    color: white;
    text-align: center;
}

.login_contenedor {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.formDisplay {
    display: block;
}

.login_loginBox {
    display: flex;
    align-items: center;
    width: 90%;
    height: 70%;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
position: relative
}

.login_loginBox_img {
    width: 50%;
    height: 100%;
    position: relative;
}

.imgFull {
    background-image: url(../IMG/funkoLogin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.positionBox {
    position: absolute;
    top: 0%;
    z-index: 999;
}

.loginBox_loginInfo {
    width: 50%;
    padding: 15px;
}

.form_loginBox_field {
    display: flex;
    padding: 10px;
    border: none;
    flex-direction: column;
    align-items: center;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    fill: transparent;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.formAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 5px 0px;
}

.formLabel {
    font-family: 'Artifika', serif;
    font-size: 15px;
    color: white;
    margin-bottom: 4px;
}

.formAlign_second {
    display: flex;
    margin: auto;
    width: 100%;
}

.btn_white {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 0 5px 5px 0;
}

.btn_white:hover {
    cursor: pointer;
}

.formInput {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0px 8px
}

.formInput_pas {
    width: 100%;
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
    padding: 0px 8px
}

.btn_align {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    text-align: center;
}

.btn_align_second {
    margin: 20px 0px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.space_margin {
    margin: 10px 0px;
}

.btn {
    text-align: center;
    padding: 10px;
    font-family: 'Artifika', sans-serif;
    font-size: 15px;
    border-radius: 8px;
    color: #243662;
    border: none;
    box-shadow: 0px 14px 31px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 14px 31px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 31px -9px rgba(0,0,0,0.75);
    cursor: pointer;
}

.btn_gray {
    background-color: #D9D9D9;
}

.btn_green {
    background-color: #ADE0DB;
}

.textAlign {
    text-align: center;
}

.formMargin {
    margin: 10px 0px;
}

@media (max-height: 580px) {
    body {
        height: 600px;
    }

    .login_loginBox {
        height: 450px;
    }
}

@media (max-width: 766px) {
    .login_loginBox_img {
        display: none;
    }

    .positionBox {
        top: -5%;
    }

    .loginBox_loginInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .formAlign {
        width: 90%;
    }
}